@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*controla como o navegador calcula o tamanho total de um elemento*/
}

body {
    font-family: lato, "sans-serif"; /*preciso colocar em todos pra reforcar???*/
    width: 100%;
}

/*-CABEÇALHO------------------------------------------------------------------------------------------------------------*/

.cabecalho {
    background-color: #495023;
    padding: 2rem 6rem;
}

.cabecalho nav { /*unico elemento dentro do cabecalho, o resto ta dentro do nav*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; /*tira o espaco em cima e em baixo e da uma margem automatica dos lados. se nao ele cola do lado esquerdo e nao fica centralidado se a gente aumenta e diminui o zoom*/
    max-width: 1200px; /*tamanho maximo que a gente quer q ele cresça. dai arruma com o zoom*/
}

.cabecalho nav ul {
    display: flex;
    gap: 2rem;
    list-style: none; /*tirar pontos, numeros da lista*/
}

.cabecalho nav ul li a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none; /*tira o risco de baixo*/
}

.cabecalho__nav--conectar {
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
}

.cabecalho__menu--icone {
    display: none;
}

.cabecalho--menu {
    display: none;
}

@media (max-width: 992px) {
    .cabecalho {
        padding: 2rem 4rem;
    }

    .cabecalho nav ul {
        display: none;
    }

    .cabecalho__nav--conectar {
        display: none;
    }

    .cabecalho__menu--icone {
        display: block;
    }

    .cabecalho__menu--icone button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .cabecalho--menu {
        position: absolute;
        top: 4rem;
        right: 4rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        background-color: #C28745;
        width: 150px;
        height: 250px;
        border-radius: 0.5rem;
        padding-top: 1rem;
        padding-right: 1rem;

    }

    .cabecalho--menu li a {
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none; /*tira o risco de baixo*/
    }
}

@media (max-width: 768px) {
    .cabecalho {
        padding: 2rem 3rem;
    }

    .cabecalho__nav--conectar {
        font-size: 14px;
    }

    .cabecalho--menu {
        right: 3rem;
    }
}

@media (max-width: 576px) {
    .cabecalho {
        padding: 2rem 1rem;
    }

    .cabecalho--menu {
        right: 1rem;
    }

    .cabecalho__nav--conectar {
        font-size: 13px;
    }
}

/*-SEÇÃO TEMA------------------------------------------------------------------------------------------------------------*/

.secao--tema {
    background-color: #495023;
    padding: 4rem 6rem 6rem 6rem;
}

.secao--tema div {
    margin: 0 auto; /*tira o espaco em cima e em baixo e da uma margem automatica dos lados. se nao ele cola do lado esquerdo e nao fica centralidado se a gente aumenta e diminui o zoom*/
    max-width: 1200px; /*tamanho maximo que a gente quer q ele cresça. dai arruma com o zoom*/
}

.secao--tema div span {
    display: block; /*pq o elemento span é por padrao em linha*/
    color: white;
    font-size: 60px;
    font-weight: bold;
    max-width: 70%;
}

@media (max-width: 992px) {
    .secao--tema {
        padding: 1rem 4rem 4rem 4rem;
    }

    .secao--tema div span {
        font-size: 50px;
        max-width: 80%;
    }
}


@media (max-width: 768px) {
    .secao--tema {
        padding: 1rem 3rem 3rem 3rem;
    }

    .secao--tema div span {
        font-size: 40px;
        max-width: 85%;
    }
}

@media (max-width: 576px) {
    .secao--tema {
        padding: 0 1rem 1rem 1rem;
    }

    .secao--tema div span {
        font-size: 32px;
        max-width: 90%;
    }
}

/*- FOOTER ------------------------------------------------------------------------------------------------------------*/

.secao--footer {
    background-color: #C28745;
    padding: 6rem;
}

.secao__footer--conteudo {
    margin: 0 auto;
    max-width: 1200px;
}

.secao__footer--conteudo h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.secao__footer--informacoes {
    display: flex;
    justify-content: space-between;
}

.secao__footer__informacoes-separadas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.secao__footer__informacoes-separadas address {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.secao__footer__informacoes-separadas address a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.secao__footer__informacoes-separadas img {
    display: inline-block;
    height: auto;
    margin-right: 1rem;
}

.secao__footer--informacoes-links ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    list-style: none;
}

.secao__footer--informacoes-links ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 992px) {
    .secao--footer {
        padding: 4rem;
    }
}

@media (max-width: 768px) {
    .secao--footer {
        padding: 3rem;
    }

    .secao__footer--conteudo h3 {
        font-size: 24px;
        margin-bottom: 2rem;
    }

    .secao__footer__informacoes-separadas address a {
        font-size: 18px;
    }

    .secao__footer--informacoes-links ul li a {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .secao--footer {
        padding: 1rem;
    }

    .secao__footer--conteudo h3 {
        font-size: 22px;
        margin-bottom: 1.5rem;
    }

    .secao__footer__informacoes-separadas address {
        gap: 0.5rem;
    }

    .secao__footer__informacoes-separadas address a {
        font-size: 12px;
    }

    .secao__footer--informacoes-links ul {
        gap: 0.5rem;
        font-size: 12px;
    }

    .secao__footer--informacoes-links ul li a {
        font-size: 12px;
    }

    .secao__footer__informacoes-separadas img {
        width: 1rem;
    }
}
